body {
  background-color: #FFFFE0; /*warna kuning cerah */
font-family: Arial, sans-serif; /* jenis huruf yang bersih dan mudah dibaca */
color: #191970; /* warna teks utama (biru gelap) */
}

.kartu-profil{
  width: 300px;
  margin: 50px auto; /* 50px jarak atas/bawah, auto menengah kiri kanan */
padding: 20px;
  background-color: white;
  border-radius: 15px; /* membuat sudut menjadi melengkung */
box-shadow: 0 4px 8px rgba(0,0,0,0,.1); */ Efek bayangan */
  teks-align: center;
  {

  .kartu-profil img {
    width: 150px;
    border-radius: 50%; */ tick untuk membuat gambar persegi menjadi lingkaran */
